.container{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.sky{
  width: 100%;
  height: 170px;
  background-color: #191b1c;
}
.div_Street{
  width: 100%;
  background-color: black;
}
.Street{
  width: 100%;
  height: 170px;
}
.Street1{
  width: 100%;
  height: 130px;
}
.clouds{
  width: 200px;
  transform: translate(20%,20%);
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}
.runClouds{
  z-index: 1;
}
.Footpath{
  width: 100%;
  height: 100px;
}
.Treeani{
position: absolute;
top: 39%;
left: 20%;
}

.Treeani1{
  position: absolute;
  top: 39%;
  left: 40%;
}

.LED{
    position: absolute;    
    top:24%;
    left: 81%;
    width: 50px;
  }

.LED2{
  position: absolute;    
    top:38%;
    left: 35%;
    width: 50px;
    z-index: 2;
  }

.Cat{
  width: 100%;
  position: absolute;
  top: 73%;
}
.Cat img{
  width: 10%;
  position: absolute;
  right: -5%;
}
.Cat_men{
  width: 100%;
  position: absolute;
  top: 67%;
}
.Cat_men img{
  width: 10%;
  position: absolute;
  right: 10%;
}
.Female{
  width: 100%;
  position: absolute;
  top: 74%;
  z-index: 1;
}
.Female img{
  position: absolute;
  right: 2%;
  z-index: 1;
}
.Moon{
  position: absolute;
  top: 3%;
  right: 10%;
}


.Car1{
  width: 100%;
  position: absolute;
  top: 37%;
}
.Car1 img{
  width: 10%;
  position: absolute;
}

.Car2{
  width: 100%;
  position: absolute;
  top: 25%;
}
.Car2 img{
  /* width: 10%; */
  position: absolute;
}
.bike{
  width: 100%;
  position: absolute;
  top: 46%;
  z-index: 1;
}
.bike img{
  width: 10%;
  position: absolute;
}

